include LICENSE
include README.md
include chado/admin.py
include chado/apps.py
include chado/models.py
include chado/view.py
include chado/serializers.py
include chado/settings.py
include chado/tests.py
include chado/urls.py
recursive-include bin *
recursive-include chado/loaders *
recursive-include chado/management *
recursive-include chado/migrations *
recursive-include chado/schemas *
recursive-include chado/templates *
recursive-include chado/tests *
recursive-include docs *

global-exclude *.pyc *.pyo *.py{} *.py-e
