include LICENSE
include README.rst
include chado/models.py
include chado/admin.py
recursive-include chado/management *
recursive-include bin *
recursive-include docs *
exclude chado/view.py
exclude chado/tests.py
recursive-exclude migrations *
