django>=2.0.1
psycopg2-binary>=2.7.4
biopython>=1.72
pysam>=0.13
obonet>=0.2.2
tqdm>=4.19.5
typing>=3.6.4
bibtexparser>=1.0.1
djangorestframework>=3.9.0
drf-nested-routers>-0.90.2
coreapi>=2.3.3
django-cors-headers>=2.4.0
