<!--
 Copyright 2018 by Embrapa.  All rights reserved.

 This code is part of the machado distribution and governed by its
 license. Please see the LICENSE.txt and README.md files that should
 have been included as part of this package for licensing information.
-->

<!doctype html>

{% load static %}

<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">

  <title>machado</title>
  <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.min.css">
</head>


  <body>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://unpkg.com/@popperjs/core@2.4.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="{% static 'main.js' %}"></script>


  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

      <a class="navbar-brand" href="{% url 'home' %}"><h3>machado</h3></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fas fa-bars"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'data_numbers' %}">Data summary</a>
          </li>
          <li>
            <a class="nav-link" href="https://github.com/lmb-embrapa/machado" target="_blank">About</a>
		  </li>
        </ul>
      </div>
    </nav>
	<div class="container-fluid bg-secondary" name="search-bar">
      <div class="row justify-content-center">
		<div class="col col-sm-4 mt-3">
            {% include "search_form.html" %}
	    </div>
      </div>
	</div>
  </header>

  <div name="content">
    <input type="hidden" value="{% url 'home' %}" id="home_url" name="home_url"></input>
    {% block content %}
    {% endblock %}
  </div>
</body>

<footer class="page-footer font-small bg-secondary">
      <div class="text-center pt-4">
        <h5 class="text-uppercase font-weight-bold">Machado</h5>
        <p>Demonstration website</p>
      </div>

      <div class="footer-copyright text-center py-3 bg-primary text-white">Powered by <b><a class="" href="https://github.com/lmb-embrapa/machado">machado</a></b>
      </div>

</footer>

</html>
