<!--
 Copyright 2018 by Embrapa.  All rights reserved.

 This code is part of the machado distribution and governed by its
 license. Please see the LICENSE.txt and README.md files that should
 have been included as part of this package for licensing information.
-->
{% extends 'base.html' %}

{% block content %}

{% for item, data in context.items %}
<div class="card w-25">
    <ul class="list-group">
        <li class="list-group-item list-group-item-primary">{{ item }}</li>
        {% for entry in data %}
        <li class="list-group-item">
            <a href="{% url 'feature_search' %}?q={{ entry.key }}">{{ entry.key }}</a>: {{ entry.count }}
        </li>
    {% endfor %}
    </ul>
</div>
</br>
{% endfor %}

{% endblock%}
