<!--
 Copyright 2018 by Embrapa.  All rights reserved.

 This code is part of the machado distribution and governed by its
 license. Please see the LICENSE.txt and README.md files that should
 have been included as part of this package for licensing information.
-->
{% extends 'base.html' %}

{% block content %}
<div class="bg-light rounded p-5">
<div class="row">
{% for item, data in context.items %}
<div class="card mb-3 col-sm mx-1">
    <div class="card-header">
        <h5 class="card-title">{{ item }}</h5>
    </div>
    <div class="card-body">
        {% for entry in data %}
        <a href="{% url 'feature_search' %}?q={{ entry.key }}">{{ entry.key }}</a>: {{ entry.count }} <br />
    {% endfor %}
    </div>
</div>
{% endfor %}
</div>
</div>

{% endblock%}
