<!--
 Copyright 2018 by Embrapa.  All rights reserved.

 This code is part of the machado distribution and governed by its
 license. Please see the LICENSE.txt and README.md files that should
 have been included as part of this package for licensing information.
-->
{% extends 'base.html' %}

{% load static l10n %}
{% block content %}
<div class="container my-4">

{% if feature.error == None %}

{% if data %}
<input type="hidden" value="{{ feature.feature_id|safe }}" id="feature_id" name="feature_id"></input>
<div class="card mb-4 shadow-sm border-light">
  <div class="card-header">
    <small><em>
        {{ feature.organism.genus }}
        {{ feature.organism.species }}
        {{ feature.organism.infraspecific_name|default_if_none:'' }}
      </em></small>
    <h3 class="card-title">
      {{ feature.type.name }}: {{ feature.name|default_if_none:feature.uniquename }}
    </h3>
  </div>
  <div class="card-body">
    <div class="card-text">
      <div class="container-fluid">
        <div class="row justify-content-start">
          <div class="col">
            <p>
              <strong>ID:</strong> {{ feature.uniquename }}<br />
              {% if feature.get_synonyms %}
              <strong>Symbols:</strong> {{ feature.get_synonyms|join:', ' }}<br />
              {% endif %}
              {% if feature.get_properties %}
              {% for prop in feature.get_properties %}
              <strong>{{ prop.0|title }}</strong>: {{ prop.1 }}<br />
              {% endfor %}
              {% endif %}
            </p>
          </div>
          <div class="col">
            {% if feature.get_dbxrefs %}<p><strong>DBxRefs:</strong>
              {% for dbxref in feature.get_dbxrefs %}
              {{ dbxref|safe }}
              {% endfor %}
            </p>{% endif %}
            {% if feature.get_relationship %}
            <p>
              {% for relative in feature.get_relationship %}
              <strong>{{ relative.type.name|title }}</strong>: <a
                href="{% url 'feature'%}?feature_id={{ relative.feature_id|unlocalize }}">{{ relative.uniquename }}</a>
              {{ relative.get_display|default_if_none:'' }}<br />
              {% endfor %}
            </p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if feature.get_annotation %}
<div class="card mb-4 shadow-sm border-light" id="cardAnnotation">
  <div class="card-header">
    <h4 class="card-title">
      <a href="?feature_id={{ feature.feature_id|unlocalize }}{% for l in load_list %}{% if l != 'annotation' %}&load={{ l }}{% endif %}{% endfor %}{% if 'annotation' not in load_list %}&load=annotation{% endif %}#collapseAnnotation"
        hx-get="?feature_id={{ feature.feature_id|unlocalize }}{% for l in load_list %}{% if l != 'annotation' %}&load={{ l }}{% endif %}{% endfor %}{% if 'annotation' not in load_list %}&load=annotation{% endif %}"
        hx-target="#cardAnnotation" hx-select="#cardAnnotation" hx-swap="outerHTML" hx-push-url="true">
        Annotation
        <small><em
            class="fas fa-caret-{% if 'annotation' in load_list or not load_list %}up{% else %}down{% endif %}"></em></small>
      </a>
    </h4>
  </div>
  <div class="card-body collapse {% if 'annotation' in load_list or not load_list %}show{% endif %}"
    id="collapseAnnotation">
    <div class="card-text">
      <ul>
        {% for prop in feature.get_annotation %}
        <li>{{ prop }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endif %}

{% if feature.get_location %}
<div class="card mb-4 shadow-sm border-light">
  <div class="card-header">
    <h4 class="card-title">
      Location
    </h4>
  </div>
  <div class="card-body">
    <div class="card-text">
      {% for location in feature.get_location %}
      <p>{{ location.ref|safe }}:{{ location.start|safe }}..{{ location.end|safe }} {{ location.strand|safe }}</p>
      {% if location.jbrowse_url %}
      <iframe title='jbrowse' style='border:0' width='100%' height='300' src="{{ location.jbrowse_url }}"></iframe>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

{% if data.has_cvterm or data.has_protein_matches %}
<div class="card mb-4 shadow-sm border-light" id="cardFunctional">
  <div class="card-header">
    <h4 class="card-title">
      <a href="?feature_id={{ feature.feature_id|unlocalize }}{% for l in load_list %}{% if l != 'functional' %}&load={{ l }}{% endif %}{% endfor %}{% if 'functional' not in load_list %}&load=functional{% endif %}#collapseFunctional"
        hx-get="?feature_id={{ feature.feature_id|unlocalize }}{% for l in load_list %}{% if l != 'functional' %}&load={{ l }}{% endif %}{% endfor %}{% if 'functional' not in load_list %}&load=functional{% endif %}"
        hx-target="#cardFunctional" hx-select="#cardFunctional" hx-swap="outerHTML" hx-push-url="true">
        Functional annotation
        <small><em class="fas fa-caret-{% if 'functional' in load_list %}up{% else %}down{% endif %}"></em></small>
      </a>
    </h4>
  </div>
  <div class="card-body collapse {% if 'functional' in load_list %}show{% endif %}" id="collapseFunctional">
    {% if 'functional' in load_list %}
    {% if data.cvterm_data %}
    <h5>Gene Ontology</h5>
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th scope="col">Ontology</th>
          <th scope="col">ID</th>
          <th scope="col">Term</th>
        </tr>
      </thead>
      <tbody>
        {% for term in data.cvterm_data %}
        <tr>
          <td>{{ term.cv }}</td>
          <td>{{ term.db }}:{{ term.dbxref }}</td>
          <td>{{ term.name }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}

    {% if data.protein_matches_data %}
    <h5 class="mt-3">Interpro databases</h5>
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th scope="col">Protein database</th>
          <th scope="col">Protein domain</th>
        </tr>
      </thead>
      <tbody>
        {% for match in data.protein_matches_data %}
        <tr>
          <td>{{ match.db }}</td>
          <td>{{ match.subject_uniquename }} {{ match.subject_name }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
    {% else %}
    <p class="text-muted"><small>Click header to load functional annotation...</small></p>
    {% endif %}
  </div>
</div>
{% endif %}

{% if data.has_similarity %}
<div class="card mb-4 shadow-sm border-light" id="cardSimilarity">
  <div class="card-header">
    <h4 class="card-title">
      <a href="?feature_id={{ feature.feature_id|unlocalize }}{% for l in load_list %}{% if l != 'similarity' %}&load={{ l }}{% endif %}{% endfor %}{% if 'similarity' not in load_list %}&load=similarity{% endif %}#collapseSimilarity"
        hx-get="?feature_id={{ feature.feature_id|unlocalize }}{% for l in load_list %}{% if l != 'similarity' %}&load={{ l }}{% endif %}{% endfor %}{% if 'similarity' not in load_list %}&load=similarity{% endif %}"
        hx-target="#cardSimilarity" hx-select="#cardSimilarity" hx-swap="outerHTML" hx-push-url="true">
        Similarity
        <small><em class="fas fa-caret-{% if 'similarity' in load_list %}up{% else %}down{% endif %}"></em></small>
      </a>
    </h4>
  </div>
  <div class="card-body collapse {% if 'similarity' in load_list %}show{% endif %}" id="collapseSimilarity">
    <div class="card-text">
      {% if 'similarity' in load_list %}
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th scope="col">Program</th>
            <th scope="col">Hit</th>
            <th scope="col">Query start</th>
            <th scope="col">Query end</th>
            <th scope="col">Score</th>
            <th scope="col">Evalue</th>
          </tr>
        </thead>
        <tbody>
          {% for sim in data.similarity_data %}
          <tr>
            <td>{{ sim.program }} {{ sim.programversion }}</td>
            <td>
              {{ sim.db_name }} {{ sim.uniquename|default:"" }}
              {% if sim.db_name == 'BLAST_SOURCE' and sim.sotype == 'polypeptide' %}
              <a href="https://www.ncbi.nlm.nih.gov/protein/{{ sim.name }}" target="_blank">{{ sim.name }}</a>
              {% else %}
              {{ sim.name }}
              {% endif %}
            </td>
            <td>{{ sim.query_start }}</td>
            <td>{{ sim.query_end }}</td>
            <td>{{ sim.score }}</td>
            <td>{{ sim.evalue }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p class="text-muted"><small>Click header to load similarity data...</small></p>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}

{% if data.has_expression %}
<div class="card mb-4 shadow-sm border-light" id="cardExpression">
  <div class="card-header">
    <h4 class="card-title">
      <a href="?feature_id={{ feature.feature_id|unlocalize }}{% for l in load_list %}{% if l != 'expression' %}&load={{ l }}{% endif %}{% endfor %}{% if 'expression' not in load_list %}&load=expression{% endif %}#collapseExpression"
        hx-get="?feature_id={{ feature.feature_id|unlocalize }}{% for l in load_list %}{% if l != 'expression' %}&load={{ l }}{% endif %}{% endfor %}{% if 'expression' not in load_list %}&load=expression{% endif %}"
        hx-target="#cardExpression" hx-select="#cardExpression" hx-swap="outerHTML" hx-push-url="true">
        Expression data
        <small><em class="fas fa-caret-{% if 'expression' in load_list %}up{% else %}down{% endif %}"></em></small>
      </a>
    </h4>
  </div>
  <div class="card-body collapse {% if 'expression' in load_list %}show{% endif %}" id="collapseExpression">
    <div class="card-text">
      {% if 'expression' in load_list %}
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th>Source</th>
            <th>Assay name</th>
            <th>Assay description</th>
            <th>Biomaterial name</th>
            <th>Biomaterial description</th>
            <th>Phenotype condition</th>
            <th>Normalized score (TPM)</th>
          </tr>
        </thead>
        <tbody>
          {% for exp in data.expression_data %}
          <tr>
            <td>{{ exp.analysis__sourcename }}</td>
            <td>{{ exp.assay_name }}</td>
            <td>{{ exp.assay_description }}</td>
            <td>{{ exp.biomaterial_name }}</td>
            <td>{{ exp.biomaterial_description }}</td>
            <td>{{ exp.treatment_name }}</td>
            <td>{{ exp.normscore }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p class="text-muted"><small>Click header to load expression data...</small></p>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}

{% if data.has_orthologs %}
<div class="card mb-4 shadow-sm border-light" id="cardOrthologs">
  <div class="card-header">
    <h4 class="card-title">
      <a href="?feature_id={{ feature.feature_id|unlocalize }}{% for l in load_list %}{% if l != 'orthologs' %}&load={{ l }}{% endif %}{% endfor %}{% if 'orthologs' not in load_list %}&load=orthologs{% endif %}#collapseOrthologs"
        hx-get="?feature_id={{ feature.feature_id|unlocalize }}{% for l in load_list %}{% if l != 'orthologs' %}&load={{ l }}{% endif %}{% endfor %}{% if 'orthologs' not in load_list %}&load=orthologs{% endif %}"
        hx-target="#cardOrthologs" hx-select="#cardOrthologs" hx-swap="outerHTML" hx-push-url="true">
        Orthologs
        <small><em class="fas fa-caret-{% if 'orthologs' in load_list %}up{% else %}down{% endif %}"></em></small>
      </a>
    </h4>
  </div>
  <div class="card-body collapse {% if 'orthologs' in load_list %}show{% endif %}" id="collapseOrthologs">
    <div class="card-text">
      {% if 'orthologs' in load_list %}
      <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-secondary">Orthologous group: <a
            href="{% url 'feature_search' %}?selected_facets=orthologous_group:{{ data.ortholog_group }}">{{
            data.ortholog_group }}</a></li>
        {% for member in data.orthologs_data %}
        <li class="list-group-item">
          <a href="{% url 'feature' %}?feature_id={{ member.feature_id|unlocalize }}">{{ member.uniquename }}</a>
          {{ member.get_display|default:"" }}
          <i>{{ member.organism_name }}</i>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p class="text-muted"><small>Click header to load orthologs...</small></p>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}

{% if data.has_sequence %}
<div class="card mb-4 shadow-sm border-light" id="cardSequence">
  <div class="card-header">
    <h4 class="card-title">
      <a href="?feature_id={{ feature.feature_id|unlocalize }}{% for l in load_list %}{% if l != 'sequence' %}&load={{ l }}{% endif %}{% endfor %}{% if 'sequence' not in load_list %}&load=sequence{% endif %}#collapseSeq"
        hx-get="?feature_id={{ feature.feature_id|unlocalize }}{% for l in load_list %}{% if l != 'sequence' %}&load={{ l }}{% endif %}{% endfor %}{% if 'sequence' not in load_list %}&load=sequence{% endif %}"
        hx-target="#cardSequence" hx-select="#cardSequence" hx-swap="outerHTML" hx-push-url="true">
        Sequence
        <small><em class="fas fa-caret-{% if 'sequence' in load_list %}up{% else %}down{% endif %}"></em></small>
      </a>
    </h4>
  </div>
  <div class="card-body collapse {% if 'sequence' in load_list %}show{% endif %}" id="collapseSeq">
    <div class="card-text text-monospace" style="word-wrap: break-word; word-break: break-all;">
      {% if 'sequence' in load_list %}
      <small>{{ data.sequence_data }}</small>
      {% else %}
      <p class="text-muted"><small>Click header to load sequence...</small></p>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}

{% if data.has_pubs %}
<div class="card mb-4 shadow-sm border-light" id="cardPubs">
  <div class="card-header">
    <h4 class="card-title">
      <a href="?feature_id={{ feature.feature_id|unlocalize }}{% for l in load_list %}{% if l != 'pubs' %}&load={{ l }}{% endif %}{% endfor %}{% if 'pubs' not in load_list %}&load=pubs{% endif %}#collapsePub"
        hx-get="?feature_id={{ feature.feature_id|unlocalize }}{% for l in load_list %}{% if l != 'pubs' %}&load={{ l }}{% endif %}{% endfor %}{% if 'pubs' not in load_list %}&load=pubs{% endif %}"
        hx-target="#cardPubs" hx-select="#cardPubs" hx-swap="outerHTML" hx-push-url="true">
        Publications
        <small><em class="fas fa-caret-{% if 'pubs' in load_list %}up{% else %}down{% endif %}"></em></small>
      </a>
    </h4>
  </div>
  <div class="card-body collapse {% if 'pubs' in load_list %}show{% endif %}" id="collapsePub">
    <div class="card-text">
      {% if 'pubs' in load_list %}
      <ul class="list-group">
        {% for pub in data.pubs_data %}
        <li class="list-group-item"><small>
            {{ pub.get_authors }}
            <b>{{ pub.title }}</b>
            <i>{{ pub.series_name }}</i>.
            {{ pub.pyear }}; {{ pub.volume }} {{ pub.pages }}
            {% if pub.get_doi %}
            DOI:<a target="_blank" href="http://dx.doi.org/{{ pub.get_doi }}">{{ pub.get_doi }}</a>
            {% endif %}
          </small></li>
        {% endfor %}
      </ul>
      {% else %}
      <p class="text-muted"><small>Click header to load publications...</small></p>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}

<br />

{% else %}
{{ feature.error }}
{% endif %}
</div>
<style>
  .collapse:not(.show) {
    display: none;
  }

  .htmx-request {
    opacity: 0.5;
    transition: opacity 0.2s ease;
  }
</style>

{% endblock %}