<form class="form-group" action="{% url 'feature_search' %}" method="get">
  <div class="input-group mb-3">
    <input type="text" placeholder="Search" class="form-control" name="q" id="q" value="{% if query %}{{ query }}{%endif%}">
    {% for facet in selected_facets %}
    <input type="hidden" name="selected_facets" value="{{ facet }}">
    {% endfor %}
    <div class="input-group-append">
      <button class="btn btn-light" type="submit"><i class="fas fa-search"></i></button>
    </div>
  </div>
</form>
