<!--
 Copyright 2018 by Embrapa.  All rights reserved.

 This code is part of the machado distribution and governed by its
 license. Please see the LICENSE.txt and README.md files that should
 have been included as part of this package for licensing information.
-->

{% load machado_extras %}


<h3>Filters</h3>

{% for facet, data in facets.fields.items %}

<div class="card">
    <div class="card-header">
        <b>
        {% if facet == "so_term" %}
        Sequence type
        {% elif facet == "match_part" %}
        Similarity
        {% else %}
        {{ facet|capfirst }}
        {% endif %}
       </b>
    </div>
    <div class="card-body">
    {% for item in data %}
        {% with facet|add:"_exact:"|add:item.0 as item_filter %}
        <a href="?{% param_replace selected_facets=item_filter %}">
            {% if facet == "organism" %}
                <i>{{ item.0|capfirst }}</i>
            {% else %}
                {{ item.0 }}
            {% endif %}
         </a> <small>({{ item.1 }})</small><br />
        {% endwith %}
    {% endfor %}
    <small><a href="?{% remove_facet facet %}"><i class="far fa-trash-alt"></i> Remove filter</a><br /></small>
    </div>
</div>
{% endfor %}
