<!--
 Copyright 2018 by Embrapa.  All rights reserved.

 This code is part of the machado distribution and governed by its
 license. Please see the LICENSE.txt and README.md files that should
 have been included as part of this package for licensing information.
-->

{% load machado_extras %}


<form action="{% url 'feature_search' %}" method="get" >
<input type="hidden" name="q" value="{{ query }}">

<h3>Filters</h3>

{% for facet in facet_fields_order %}
{% with facets.fields|get_item:facet as exists %}
{% if exists %}

<div class="card">
    <div class="card-header">
    <div class="row">
        <div class="col">
            <b>
            {% if facet == "so_term" %}
            Sequence type
            {% else %}
            {{ facet|capfirst }}
            {% endif %}
            </b>
            </div>
        <div class="col text-right">
            <button class="btn btn-outline-primary btn-sm" type="submit"><small>Apply</small></button>
        </div>
    </div>
    </div>
    <div class="card-body">
    {% for item in facets.fields|get_item:facet|dictsort:0 %}
        {% with facet_item=facet|add:":"|add:item.0 %}
        {% if facet == "organism" %}
            <input type="checkbox" name="selected_facets" id="selected_facets" value="{{ facet }}:{{ item.0 }}" {% if facet_item in selected_facets %}checked{% endif %}>
            <i>{{ item.0|capfirst }}</i>
        {% elif facet == "orthology" %}
            {% if item.0 == 0 %}
            <input type="checkbox" name="selected_facets" id="selected_facets" value="{{ facet }}:{{ item.0 }}" {% if "orthology:0" in selected_facets %}checked{% endif %}>
            no orthology
            {% else %}
            <input type="checkbox" name="selected_facets" id="selected_facets" value="{{ facet }}:{{ item.0 }}" {% if "orthology:1" in selected_facets %}checked{% endif %}>
            orthology
            {% endif %}
        {% elif facet == "coexpression" %}
            {% if item.0 == 0 %}
            <input type="checkbox" name="selected_facets" id="selected_facets" value="{{ facet }}:{{ item.0 }}" {% if "coexpression:0" in selected_facets %}checked{% endif %}>
            no coexpression groups
            {% else %}
            <input type="checkbox" name="selected_facets" id="selected_facets" value="{{ facet }}:{{ item.0 }}" {% if "coexpression:1" in selected_facets %}checked{% endif %}>
            coexpression groups
            {% endif %}
        {% else %}
            <input type="checkbox" name="selected_facets" id="selected_facets" value="{{ facet }}:{{ item.0 }}" {% if facet_item in selected_facets %}checked{% endif %}>
            {{ item.0 }}
        {% endif %}
        {% endwith %}
        <small>({{ item.1 }})</small><br />
    {% endfor %}
    </select>
    {% if facet in selected_facets_fields %}
    <small><a href="?{% remove_facet facet %}"><i class="far fa-trash-alt"></i> Remove filter</a><br /></small>
    {% endif %}
    </div>
</div>
{% endif %}
{% endwith %}
{% endfor %}
</form>
