<!--
 Copyright 2018 by Embrapa.  All rights reserved.

 This code is part of the machado distribution and governed by its
 license. Please see the LICENSE.txt and README.md files that should
 have been included as part of this package for licensing information.
-->
{% extends 'base.html' %}

{% block content %}

{% for entry in context %}
<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ entry.name }}</h4>
    <div class="card-text">
      {{ entry.uniquename }}
    </div>
  </div>
</div>
</br>
{% endfor %}


{% endblock %}
