{
   "formatVersion" : 1,
   "refSeqs": "http://localhost:8000/machado/api/jbrowse/refSeqs.json?soType=chromosome&organism=Arabidopsis thaliana",
   "names" : {
      "type" : "REST",
      "url" : "http://localhost:8000/machado/api/jbrowse/names",
      "query": {
          "organism": "Arabidopsis thaliana"
      }
   },
   "tracks" : [
       {
         "category": "1. Reference sequence",
         "useAsRefSeqStore": true,
         "label":      "ref_seq",
         "key":        "REST Reference Sequence",
         "type":       "JBrowse/View/Track/Sequence",
         "storeClass": "JBrowse/Store/SeqFeature/REST",
         "baseUrl":    "http://localhost:8000/machado/api/jbrowse",
         "query": {
            "soType": "reference",
            "organism": "Arabidopsis thaliana"
         }
       },
       {
         "category": "2. Genes",
         "baseUrl" : "http://localhost:8000/machado/api/jbrowse",
         "key" : "Gene track",
         "label" : "gene",
         "query" : {
            "organism" : "Arabidopsis thaliana",
            "soType" : "gene"
         },
         "storeClass" : "JBrowse/Store/SeqFeature/REST",
         "type" : "JBrowse/View/Track/CanvasFeatures",
         "style": {
             "label": "name,id",
             "description": "display"
         }
      },
     {
         "category": "2. Genes",
         "baseUrl" : "http://localhost:8000/machado/api/jbrowse",
         "key" : "Transcript track",
         "label" : "transcripts",
         "query" : {
            "organism" : "Arabidopsis thaliana",
            "soType" : "mRNA"
         },
         "storeClass" : "JBrowse/Store/SeqFeature/REST",
         "type" : "JBrowse/View/Track/CanvasFeatures",
         "style": {
             "label": "name,id",
             "description": "display"
         }
      },
      {
         "category": "2. Genes",
         "baseUrl" : "http://localhost:8000/machado/api/jbrowse",
         "key" : "CDS track",
         "label" : "CDS",
         "query" : {
            "organism" : "Arabidopsis thaliana",
            "soType" : "CDS"
         },
         "storeClass" : "JBrowse/Store/SeqFeature/REST",
         "type" : "JBrowse/View/Track/CanvasFeatures"
     }
   ]
}
