{
   "formatVersion" : 1,
   "refSeqs": "http://localhost:8000/machado/api/organism/4672581/jbrowse/refSeqs.json",
   "names" : {
      "type" : "REST",
      "url" : "http://localhost:8000/machado/api/organism/4672581/jbrowse/names"
   },
   "tracks" : [
       {
         "category": "Reference sequence",
         "useAsRefSeqStore": true,
         "label":      "ref_seq",
         "key":        "REST Reference Sequence",
         "type":       "JBrowse/View/Track/Sequence",
         "storeClass": "JBrowse/Store/SeqFeature/REST",
         "baseUrl":    "http://localhost:8000/machado/api/organism/4672581/jbrowse",
         "query": {
            "soType": "reference"
         }
       },
      {
         "baseUrl" : "http://localhost:8000/machado/api/organism/4672581/jbrowse",
         "key" : "Transcript track",
         "label" : "transcripts",
         "query" : {
            "soType" : "mRNA"
         },
         "storeClass" : "JBrowse/Store/SeqFeature/REST",
         "type" : "JBrowse/View/Track/HTMLFeatures"
      },
      {
         "baseUrl" : "http://localhost:8000/machado/api/organism/4672581/jbrowse",
         "key" : "CDS track",
         "label" : "CDS",
         "query" : {
            "soType" : "CDS"
         },
         "storeClass" : "JBrowse/Store/SeqFeature/REST",
         "type" : "JBrowse/View/Track/HTMLFeatures"
      }
   ]
}
